## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [8]:
d = {'國家': 'Taiwan',
        '人口': '23000000'}
d = pd.DataFrame(data=d, index=[0])

In [9]:
d

         人口      國家
0  23000000  Taiwan

In [10]:
d.head()

         人口      國家
0  23000000  Taiwan